body {
    min-height: 100vh;
    place-items: center;
    perspective: 1000px;
    color: #7d8e96;
}

.container {
    width: 19rem;
    height: 40rem;
    border-radius: 10px;
    background-color: #eef0f2;
}

.screen {
    height: 35%;
    background-color: aquamarine;
    font-size: 2rem;
    display: flex;
    overflow: auto;
    letter-spacing: 5px;
    align-items: end;
    justify-content: end;
    font-weight: bold;
    padding: 10px;
}

.buttonBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.3rem;
    padding: 0.75rem;
    grid-template-areas:
        'clear openParenthesis closeParenthesis multiple'
        'radical percent plusMinus divide'
        'seven eight nine minus'
        'four five six plus'
        'one two three equal'
        'dot zero back equal';
}

.buttonBox .button {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.clear,
.openParenthesis,
.closeParenthesis,
.multiple,
.radical,
.percent,
.plusMinus,
.divide,
.seven,
.eight,
.nine,
.minus,
.four,
.five,
.six,
.plus,
.one,
.two,
.three,
.dot,
.zero,
.back {
    border-radius: 50%;
    width: 45px;
    height: 40px;
}

.clear {
    grid-area: clear;
}

.openParenthesis {
    grid-area: openParenthesis;
}

.closeParenthesis {
    grid-area: closeParenthesis;
}

.multiple {
    grid-area: multiple;
}

.radical {
    grid-area: radical;
}

.percent {
    grid-area: percent;
}

.plusMinus {
    grid-area: plusMinus;
}

.openParenthesis {
    grid-area: openParenthesis;
}

.divide {
    grid-area: divide;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.minus {
    grid-area: minus;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.plus {
    grid-area: plus;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.dot {
    grid-area: dot;
}

.zero {
    grid-area: zero;
}

.back {
    grid-area: back;
}

.equal {
    grid-area: equal;
    border-radius: 50px;
}

.orange {
    background-color: #feb92d;
    color: white;
    box-shadow: 2px 2px 4px #ebd5ab;
}

.lightOrange {
    background-color: #f5f1e5;
    color: #d0bd91;
    box-shadow: 2px 2px 4px #e6d6ba;
}

.lightPurple {
    background-color: #e1d5e9;
    color: #530c74;
    box-shadow: 2px 2px 4px #cab3e0;
}

.purple {
    background-color: #9d2cf5;
    color: #f0e7fe;
    box-shadow: 2px 2px 4px #9d5cd2;
}

.white {
    background-color: #f8f9fa;
    box-shadow: 2px 2px 4px #d6d9dc;
}

.lightGray {
    background-color: #e4e7eb;
    box-shadow: 2px 2px 4px #d3d5d8;
}