.container {
    width: 19rem;
    height: 40rem;
    border-radius: 10px;
    color: var(--text-color-light);
    background-color: var(--color-bg-light);
}

.buttonBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
    padding: 0.75rem;
    height: calc(100% - 274px);
}

@import './calculator.dark.module';