body {
    min-height: 100vh;
    place-items: center;
    perspective: 1000px;
    color: #7d8e96;
}

.container {
    width: 19rem;
    height: 40rem;
    border-radius: 10px;
    background-color: #eeeff1;
}

.buttonBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
    padding: 0.75rem;
    height: calc(100% - 230px);
    background-color: #eeeff1;
    border-radius: 0 0 10px 10px;
}