@media (prefers-color-scheme: dark) {
  .equals {
    color: var(--text-color-purple);
    background-color: var(--color-purple);
  }

  .clear {
    color: var(--text-color-orange);
    background-color: var(--color-orange);
    box-shadow: 2px 2px 4px var(--color-orange);
  }

  .proSymbol {
    background-color: var(--color-lightOrange);
    color: var(--text-color-lightOrange);
    box-shadow: 2px 2px 4px var(--color-lightOrange);
  }

  .mainSymbol {
    background-color: var(--color-lightPurple);
    color: var(--text-color-lightPurple);
    box-shadow: 2px 2px 4px var(--color-lightPurple);
  }

  .backspace {
    background-color: var( --color-back-button);
    box-shadow: 2px 2px 4px var( --color-back-button);
  }

  .numbers {
    background-color: var(--color-number-button);
    box-shadow: 2px 2px 4px var(--color-number-box-shadow);
  }
}