.button {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.5s;
    border-radius: 50%;
    width: 45px;
    cursor: pointer;
}

.equals {
    grid-row: 5 / span 2;
    grid-column: 4 / 5;
    border-radius: 50px;
    background-color: var(--color-purple-light);
    color: var(--text-color-purple-light);
    box-shadow: 2px 2px 4px #9d5cd2;
}

.clear {
    background-color: var(--color-orange-light);
    color: var(--text-color-orange-light);
    box-shadow: 2px 2px 4px #ebd5ab;
}

.proSymbol {
    background-color: var(--color-lightOrange-light);
    color: var(--text-color-lightOrange-light);
    box-shadow: 2px 2px 4px #e6d6ba;
}

.mainSymbol {
    background-color: var(--color-lightPurple-light);
    color: var(--text-color-lightPurple-light);
    box-shadow: 2px 2px 4px #cab3e0;
}

.numbers {
    background-color: var(--color-gray0);
    box-shadow: 2px 2px 4px #d6d9dc;
}

.backspace {
    background-color: var(--color-gray1);
    box-shadow: 2px 2px 4px #d3d5d8;
}

@import './button.dark.module';