:root {
    --color-bg-light: #fafafa;
    --color-bg-dark: #313438;
    --text-color-light: #7d8e96;
    --text-color-dark: #899396;
    --color-purple-light: #9d2cf5;
    --color-purple-dark: #962cea;
    --text-color-purple-light: #f0e7fe;
    --text-color-purple-dark: #fffffe;
    --color-lightPurple-light: #e1d5e9;
    --text-color-lightPurple-light: #530c74;
    --color-lightPurple-dark: #4c355f;
    --text-color-lightPurple-dark: #b97acf;
    --color-orange-light: #feb92d;
    --color-orange-dark: #fcb82b;
    --text-color-orange-light: #fffcec;
    --text-color-orange-dark: #fffff5;
    --color-lightOrange-light: #f3efe3;
    --text-color-lightOrange-light: #b09051;
    --color-lightOrange-dark: #4c443b;
    --text-color-lightOrange-dark: #b48e53;
    --color-gray0: #f8f9fa;
    --color-gray1: #e8eaee;
    --color-gray2: #383a40;
    --color-gray3: #282b2c;
    --color-gray4: #a9afb4;
    --color-gray5: #3e4a58;
}