:root {
    --color-bg: #fafafa;
    --text-color: #7d8e96;
    --color-purple: #9d2cf5;
    --text-color-purple: #f0e7fe;
    --color-lightPurple: #e1d5e9;
    --text-color-lightPurple: #530c74;
    --color-orange: #feb92d;
    --text-color-orange: #fffcec;
    --color-lightOrange: #f3efe3;
    --text-color-lightOrange: #b09051;
    --color-number-button: #f3f5f7;
    --color-number-box-shadow: #e3e5e7;
    --color-back-button: #e8e9ee;
    --color-switch-round: #f5f5f7;
    --color-text-result: #3e4a58;
}

[data-theme="dark"] {
    --color-bg: #313438;
    --text-color: #899396;
    --color-purple: #962cea;
    --text-color-purple: #fffffe;
    --color-lightPurple: #4c355f;
    --text-color-lightPurple: #b97acf;
    --color-orange: #fcb82b;
    --text-color-orange: #fffff5;
    --color-lightOrange: #4c443b;
    --text-color-lightOrange: #b48e53;
    --color-number-button: #38393e;
    --color-gray: #383a40;
    --color-number-box-shadow: #222325;
    --color-back-button: #282b2d;
    --color-switch-round: #acadb4;
    --color-text-result: #a9afb4;
}