.screen {
    height: 35%;
    background-color: aquamarine;
    font-size: 2rem;
    display: flex;
    overflow: auto;
    letter-spacing: 5px;
    align-items: end;
    justify-content: end;
    font-weight: bold;
    padding: 10px;
}